<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionMarcket</title>
    <link rel="stylesheet" href="./../CSS/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="icon" href="./../IMAG/logoac.png" sizes="32x32" type="image/png">
    <link rel="icon" href="./../IMAG/logoac.png" sizes="16x16" type="image/png">

    <!-- Favicon -->
    <link rel="icon" href="./../IMAG/logoac.png" type="image/x-icon">
</head>
<body>

  <nav class="menu-bar">
    <ul class="menu">
      <li><a href="./../index.html" class="menu-item">Inicio</a></li>
      <li><a href="./galeria.html" class="menu-item">Galería</a></li>
      <li><a href="./presupuesto.html" class="menu-item">Presupuesto</a></li>
      <li><a href="./contacto.html" class="menu-item active">Contacto</a></li>
    </ul>
  </nav>

  <header class="fondo-superior-cont">
    
    <div class="logo-cont">
      <h1>ActionMARCKET</h1>
      
    </div>
  </header>


<div class="contacto">
  <p><strong>Dirección:</strong> Calle Lérida, 49, Santa Pola, Alicante</p>
  <p><strong>Teléfono:</strong> +34 600 123 456</p>
  <p><strong>Email:</strong> actionmarcket@gmail.es</p>
  <p>Lunes - Viernes: 9:00 - 18:00</p>

</div>


    <div id="map"></div>

  <footer class="footer">
    <div class="footer-content">
      <!-- Redes Sociales -->
      <div class="footer-social">
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com" target="_blank" aria-label="TikTok">
          <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
  
      <!-- Copyright y Aviso Legal -->
      <div class="footer-center">
        <p>&copy; 2025 ActionMarcket. Todos los derechos reservados.</p>
        <a href="#aviso-legal" class="footer-link">AVISO LEGAL</a>
      </div>
  
      <!-- Ubicación y Teléfono -->
      <div class="footer-info">
            <p> Calle Lérida, 49, Santa Pola, Alicante</p>
            <p> +34 600 123 456</p>
            <p>actionmarcket@gmail.es</p>
            <p>Lunes - Viernes: 9:00 - 18:00</p>
      </div>
    </div>
  </footer>
  
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Leaflet Routing Machine -->
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

  <script src="./../JS/contacto.js"></script>
</body>
  
  
  
  
  
</html>